.link {
  text-decoration: underline;
  cursor: pointer;
}
.btn-group {
  margin: 0px 0px 4px 0px;
}
input {
  margin: 4px 0px 4px 0px;
}
span.tt {
  border-bottom:1px dashed;
  cursor:help;
}
.tooltip-inner {
  font-size: 1.2em;
  background-color: #333333;
}
.easy-box {
  /*width: 320px;*/
  /*float: left;*/
  /*background-color: white;*/
  /*padding: 10px;*/
  /*margin: 10px;*/
  min-height: 520px;
}
.chart rect {
  stroke: white;
  fill: steelblue;
}
.axis {
  font-size: 0.9em;
}

/**/
/*@font-face {*/
/*    font-family: 'HoneyScriptSemiBold';*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*body {*/
/*    background:#f7f7f7;*/
/*    font-family: 'SerifaLT45LightRegular', Helvetica, Arial, sans-serif;*/
/*    font-size:62.5%;*/
/*    line-height:1.5;*/
/*    color:#333;*/
/*}*/
/*h1 {*/
/*    font-family: 'HoneyScriptSemiBold', Helvetica, Arial, sans-serif;*/
/*    font-size:5em;*/
/*    font-weight:lighter;*/
/*    /*color:#22A0CE;*/*/
/*    color:steelblue;*/
/*    width:280px;*/
/*    margin:0px 0 20px 0;*/
/*    padding:0;*/
/*}*/
/**/
/**/
/*.blue {*/
/*    border:1px solid #066dab;*/
/*    box-shadow:inset 0 1px 0 #b8e3f3;*/
/*    -moz-box-shadow:inset 0 1px 0 #b8e3f3;*/
/*    -webkit-box-shadow:inset 0 1px 0 #b8e3f3;*/
/*    background: #43b6e0; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #43b6e0 0%, #197393 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43b6e0), color-stop(100%,#197393)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #43b6e0 0%,#197393 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #43b6e0 0%,#197393 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #43b6e0 0%,#197393 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b6e0', endColorstr='#197393',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #43b6e0 0%,#197393 100%); /* W3C */*/
/*}*/
/**/
/*.blue:hover {*/
/*    background: #22a0ce; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #22a0ce 0%, #125167 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22a0ce), color-stop(100%,#125167)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #22a0ce 0%,#125167 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #22a0ce 0%,#125167 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #22a0ce 0%,#125167 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a0ce', endColorstr='#125167',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #22a0ce 0%,#125167 100%); /* W3C */ */
/*}*/
/**/
/*.green {*/
/*    border:1px solid #3d6b00;*/
/*    box-shadow:inset 0 1px 0 #dfff48;*/
/*    moz-box-shadow:inset 0 1px 0 #dfff48;*/
/*    -webkit-box-shadow:inset 0 1px 0 #dfff48;*/
/*    background: #b0d039; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #b0d039 0%, #569100 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d039), color-stop(100%,#569100)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #b0d039 0%,#569100 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #b0d039 0%,#569100 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #b0d039 0%,#569100 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d039', endColorstr='#569100',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #b0d039 0%,#569100 100%); /* W3C */*/
/*}*/
/**/
/*.green:hover {*/
/*    background: #91ad29; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #91ad29 0%, #385e00 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91ad29), color-stop(100%,#385e00)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #91ad29 0%,#385e00 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #91ad29 0%,#385e00 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #91ad29 0%,#385e00 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ad29', endColorstr='#385e00',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #91ad29 0%,#385e00 100%); /* W3C */*/
/*}*/
/**/
/*.red {*/
/*    border:1px solid #CC0033;*/
/*    box-shadow:inset 0 1px 0 #FF7A7A;*/
/*    -moz-box-shadow:inset 0 1px 0 #FF7A7A;*/
/*    -webkit-box-shadow:inset 0 1px 0 #FF7A7A;*/
/*    background: #FF0040; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #FF0040 0%, #E60039 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0040), color-stop(100%,#E60039)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #FF0040 0%,#E60039 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #FF0040 0%,#E60039 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #FF0040 0%,#E60039 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0040', endColorstr='#E60039',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #FF0040 0%,#E60039 100%); /* W3C */*/
/*}*/
/**/
/*.red:hover {*/
/*    background: #990026; /* Old browsers */*/
/*    background: -moz-linear-gradient(top, #990026 0%, #66001A 100%); /* FF3.6+ */*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990026), color-stop(100%,#66001A)); /* Chrome,Safari4+ */*/
/*    background: -webkit-linear-gradient(top, #990026 0%,#66001A 100%); /* Chrome10+,Safari5.1+ */*/
/*    background: -o-linear-gradient(top, #990026 0%,#66001A 100%); /* Opera11.10+ */*/
/*    background: -ms-linear-gradient(top, #990026 0%,#66001A 100%); /* IE10+ */*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990026', endColorstr='#66001A',GradientType=0 ); /* IE6-9 */*/
/*    background: linear-gradient(top, #990026 0%,#66001A 100%); /* W3C */ */
/*}*/