h2,h3 {
  line-height: 200%;
}

footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #eee;
}

img.full-window {
  width: 80%
}
img.dialog {
  width: 65%
}
img.small-dialog {
  width: 50%
}